<br><br><br><br><br><br>
<div class="ui segments" style="margin-top: 70px;">
<div class="ui segment">
    <h1><%= @address.name %></h1>
    <h1><%= @address.city %></h1>
    <h1><%= @address.state %></h1>
    <div class="ui toggle checkbox">
        <input type="checkbox" name="public">
        <label>Click to Complete</label>
        <!-- Write a function for changing the label to completed or not -->
        <br>
    </div>
    <br>
    <%= link_to 'Back', :back, class: "ui secondary button inverted" %>
</div>
</div>
