<div class="ui inverted segment" style="opacity: .8;">
  <div class="ui inverted pointing menu" style="opacity: .8;">
    <h2 style="margin-bottom: -20px; margin-top: 15px; margin-right: 10px; margin-left: 10px;"> Trip Planner </h2>
      <%= link_to 'Trips', trips_path, class: 'item', style: 'margin-top: 10px;' %>
      <%= link_to 'Add Trips', new_trip_path, class: 'item', style: 'margin-top: 10px;'%>
  <div class="right menu">
      <div class="results"></div>
      </div>

    <!-- link devise info to navbar-->
  </div>
  </div>
</div>